
<h1>User Sign Up Form</h1><br><br>

<h2>@ViewBag.Error</h2><br><br>

    <form method='post'>

        <label for="UserName">User Name: </label><br>
        <input type="text" id="UserName" name="UserName" value= "@ViewBag.UserName"><br>

        <label for="Email">Email: </label><br>
        <input type="email" id="Email" name="Email" value="@ViewBag.Email"><br>

        <label for="Password">Password: </label><br>
        <input type="password" id="Password" name="Password"><br>

        <label for="ConfirmPassword">Confirm Password: </label><br>
        <input type="password" id="ConfirmPassword" name="ConfirmPassword"><br><br>

        <input type='submit' value='Submit'>

    </form>